html{
  background-image: url("Pictures/compass.jpg");
  background-repeat: no-repeat;
  background-size: 100% 8600%;
}

h1{
  font-size: 96px;
  color: silver;
  position: fixed;
  right: 7.5%;
  top: -2.5%;
  font-family: Serif;
}

form{
  color: silver;
  position: absolute;
  top: 42%;
  right: 12%;
  font-size: 18px;
  width: 20%;
  height: 5%;
  font-family: monospace;
}

input{
  background-color: rgba(255, 255, 255, .25);
  color: white;
  width: 60%;
  height: 100%;
  border: 2px solid gray;
}

#submit{
  background: gold;
  color: black;
  text-decoration: underline;
  width: 30%;
  border-radius: 5px;
  position: relative;
  left: 10%;
  
}

#submit:visited {
    color: darkgoldenrod;
}

#sign_up{
  width: 30%;
  border-radius: 5px;
  position: relative;
  left: 10%;
  background: silver;
  text-decoration: underline;
  color: black;
}

#loggedin{
    font-size: 64px;
    position: absolute;
    left:45%;
    top: 35%;
    color: whitesmoke;
}

#logout{
    position:absolute;
    right:0%;
    top:0%;
}

	